{% extends "paginasweb/index.html" %}

{% comment %} Load do crispy forms {% endcomment %}
{% load crispy_forms_tags %}

{% block conteudo %}
<section id="conteudo" class="py-5 bg-light">
    <div class="container">
        <h2 class="display-5 fw-bold text-center mb-5">{{titulo}}</h2>
        
        <div class="row justify-content-center">
            <div class="col-md-6">

                <form method="post">

                    {% csrf_token %}

                    {{ form|crispy }}

                    {% if botao == "Confirmar Exclusão" %}
                    <h4 class="text-center mt-1 text-danger">
                        Deseja excluir o registro:
                    </h4>
                    <p class="text-center fw-bold fs-3 text-secondary">
                        "{{ object }}"
                    </p>
                    {% endif %}

                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-success">
                            <i class="bi bi-check-circle"></i>
                            {{botao}}
                        </button>
                        <a href="" class="btn btn-secondary" onclick="window.history.back(); return false;">
                            <i class="bi bi-x-circle"></i>
                            Cancelar
                        </a>
                    </div>

                </form>
            </div>
            
        </div>

    </div>
</section>
{% endblock %}

{% block script %}
<script>
    // doc .ready
    $(document).ready(function() {
        // Foco no primeiro campo do formulário
        $('form :input:visible:enabled:first').focus();
    });
</script>
{% endblock script %}
