{% extends "paginasweb/modelo.html" %}

{% load static %}

{% block conteudo %}

<h2>Lista de Instituições</h2>

<table>
<tr>
    <th>Nome</th>
    <th>Telefone</th>
    <th>Cidade</th>
    <th>Tipo</th>
    <th>Administrar</th>
</tr>

{% for doador in object_list %}
<tr>
    <td>{{doador.nome}}</td>
    <td>{{doador.telefone}}</td>
    <td>{{doador.cidade}}</td>
    <td>{{doador.tipo}}</td>
    <td>
        <a href="{% url "editar-doador" doador.pk %}">Editar</a> 
        <a href="{% url "deletar-doador" doador.pk %}">Deletar</a>
    </td>
</tr>
{% endfor %}

</table>

{% endblock %}